/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.min
 *= require chosen
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../vendor/assets/fonts/glyphicons-halflings-regular.eot');
  src: url('../vendor/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../vendor/assets/fonts/glyphicons-halflings-regular.woff') format('woff'), 
       url('../vendor/assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../vendor/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.stage4 {
	color: red;
}

.login {
	background-color: #3498db;
	margin-top: 60px;
	padding: 4%;
	margin-left: 9%;
	margin-right: 9%;
	border-radius: 7px;
}

.login-inputs {
	margin-left: 30%;
	margin-right: 30%;
}

.halftableleft {
	width: 33%;
	float: left;
}

.halftableright {
	margin-left: 80px;
	float:left;
	width: 33%;
}

.halftableright1 {
	margin-left: 80px;
	float:left;
	width: 50%;
}

.peterriver {
	background-color: #45a9ec;
	font-weight: bold;
	color: white;
}

.emerald {
	background-color: #27ae60;
	font-weight: bold;
	color: white;
}

.sunflower {
	background-color: #f1c40f;
	color: white;
	font-weight: bold;
}

.carrot {
	background-color: #f89f44;
	font-weight: bold;
	color: white;
}

.pumpkin {
	background-color: #f57622;
	font-weight: bold;
	color: white;
}

.pomegranate {
	background-color: #f96e5e;
	font-weight: bold;
	color: white;
}

.paddedtable {
	border-spacing: 10px;
    border-collapse: separate;
    table-layout: fixed;
}

.errormessage {
	background-color: #e74c3c;
	font-weight: bold;
	margin-bottom: 30px;
	color: white;
	font-size: 22px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.questionbox {
	float: left;
	height: 180px;
	width: 27%;
	margin: 30px;
	padding: 30px;
	background-color: #ecf0f1;
	border-radius: 10px;
}

.questionbox input {
	display: block;
}

#overlay {
	visibility: hidden;
}
